<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Get Paid REWARD</title>
    <meta content="We at Panel viewpoint ensures quality inputs for your research through our online panel across the globe. We have an experienced team of project and panel management who can help you manage your end to end project while you are focusing on outcome of your research objective."
        name="description">
    <meta content="Online Data Collection, Survey Panel, Survey Programming, data processing, Tabulations" name="keywords">
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="assets/img/favicn/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/img/favicn/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/img/favicn/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicn/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/img/favicn/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/img/favicn/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/img/favicn/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/img/favicn/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicn/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/img/favicn/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicn/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicn/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicn/favicon-16x16.png">
    <link rel="manifest" href="assets/img/favicn/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/img/favicn/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css" integrity="sha512-vebUliqxrVkBy3gucMhClmyQP9On/HAWQdKDXRaAlb/FKuTbxkjPKUyqVOxAcGwFDka79eTF+YXwfke1h3/wfg==" crossorigin="anonymous"
        referrerpolicy="no-referrer" />
    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/stylelogin.css" rel="stylesheet">
    <link href="assets/css/responsive.css" rel="stylesheet">

</head>

<body class="loginbg fadeInDown">

    <!-- End Header -->
    <main class="form-signin">
        <section class="ftco-section fadeInDown">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div id="otp_verify" class="col-12 col-md-11 col-lg-8 col-xl-7">
                        <div class="login-wrap verifywrap">
                            <div class="position-relative maincardposition ">
                                <div class="card otp text-center">
                                    <h5>Your email has been verified successfully!</h5>
                                    <!-- <br><br> Please click <a href="{%url 'registerapp:login'%}">here </a>to redirect to Home page.<h5> Please click <a href="{%url 'registerapp:user_login'%}">here </a>to redirect to Login page.</h5> -->
                                    <div class="row mt-3 align-items-center justify-content-center">
                                        <div class="col-sm-5 col-12">
                                            <a href="#">
                                                <div class="icon-container">
                                                    <div class="icon icon-fill"><i class="las la-home"></i></div>
                                                    <h6>Go To Home Page</h6>
                                                </div>
                                            </a>
                                        </div><span class="or col-2">OR</span>
                                        <div class="col-sm-5 col-12">
                                            <a href="#">
                                                <div class="icon-container">
                                                    <div class="icon icon-expand"><i class="las la-user-tie"></i></div>
                                                    <h6 class="og">Go To Login Page</h6>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>


</body>

</html>